.area-sub-heading {
  font-size: 18px;
  font-weight: bold;
  color: #ff9800;
}

table {
  width: 500px;
  margin-top: 10px;
}

.donate {
  display: block;
  margin: 0px auto 10px auto;
}

.overflow-table {
  overflow: auto;
  padding: 10px 10px 25px 10px;
}
