.post-requirement {
    margin: 20px 200px;
    text-align: center;

    .card{
        margin-left: 50px;
    }

    .header{
        text-align: center;
        text-transform: uppercase;
        margin: 10px 0;
        font-size: 0.9rem;
        color: black;
    }

    .button {
        margin: 10px 0;
        width: 75%;
    }
}