<section id="dashboard1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="mbl-tit1">Emercency Contact Details</h4>
                <div class="table-responsive">
                    <table class="table info-tbl hsptl">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Name</th>
                                <th>Contact Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ambulance Helpline</td>
                                
                                <td><a href="tel:102">102</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Fire Control Room</td>
                                <td><a href="tel:101">101</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Missing Children and Women</td>
                                
                                <td><a href="tel:1094">1094</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Water Supply</td>
                                <td><a href="tel:155313">155313</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Traffic Police Helpline</td>
                                <td><a href="tel:1095">1095</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Police Helpline</td>
                                <td><a href="tel:1090">1090</a></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Police Control Room</td>
                                <td><a href="tel:100">100</a></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Disaster Management of Govt.of Tamilnadu</td>
                                <td><a href="tel:1077">1077</a></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Medical Helpline State</td>
                                <td><a href="tel:108">108</a></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>National Health Helpline</td>
                                <td><a href="tel:18001801104">18001801104</a></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Women's Helpline</td>
                                <td><a href="tel:181">181</a></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Senior Citizon Helpline</td>
                                <td><a href="tel:1091">1091</a></td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Anti-Obscence Calls Cell</td>
                                <td><a href="tel:1091">1091</a></td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Anti Stalking Cell</td>
                                <td><a href="tel:1091">1091</a></td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>Directory Enquiry</td>
                                <td><a href="tel:197">197 </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>	