<section id="dashboard1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="donate-amt">
                    <h4 class="mbl-tit1">Changes can Make a Change</h4>
                    <p>All donations to this fund will support recovery and relief efforts in Chennai. Initially, the fund will help first responders meet survivors' immediate needs for food, fuel, clean water, hygiene products, and shelter. Once initial relief work is complete, this fund will transition to support longer-term recovery efforts run by local, vetted organizations such the ROSI Foundation and Learning Links.</p>
                    
                    <div class="row">
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-12">
                            <div class="acc-det">
                                <h4 class="mbl-tit1">Account Detail</h4>
                                <p>Account No : 98783863</p>
                                <p>Account Holder : Admin</p>
                                <p>Bank : IDBI Bank</p>
                                <p>IFSC : IDIB00025</p>
                                <p>Branch : Maylapore</p>
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-12">
                            <div class="acc-det">
                                <img src="./assets/images/ph-pe.png" alt="google pay" class="img-responsive" />
                                <img src="./assets/images/qr.png" alt="qrcode" class="img-responsive" />
                                <p class="text-ctr">Pay via PhonePe</p>
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-12">
                            <div class="acc-det">
                                <img src="./assets/images/paytm.png" alt="paytm" class="img-responsive" />
                                <img src="./assets/images/qr1.png" alt="qrcode" class="img-responsive qr-img" />
                                <p class="text-ctr">Pay via Paytm</p>
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-12">
                            <div class="acc-det">
                                <img src="./assets/images/paypal.png" alt="google pay" class="img-responsive" />
                                <p class="text-ctr">Pay Pal</p>
                                
                                <p class="text-ctr mtp"><a href="https://www.paypal.com/paypalme2/karthikarwin" target="_blank">Click here  to pay	</a></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered info-tbl">
                                <thead>
                                    <tr>
                                        <th>S.no</th>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Transaction Id</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center">1</td>
                                        <td align="center">13.10.2019</td>
                                        <td>Karthik</td>
                                        <td align="center">xyz</td>
                                        <td align="center">2000</td>
                                    </tr>
                                    <tr>
                                        <td align="center">2</td>
                                        <td align="center">13.10.2019</td>
                                        <td>Ram</td>
                                        <td align="center">xyz</td>
                                        <td align="center">3000</td>
                                    </tr>
                                    <tr>
                                        <td align="center">3</td>
                                        <td align="center">12.10.2019</td>
                                        <td>Eswari</td>
                                        <td align="center">xyz</td>
                                        <td align="center">1000</td>
                                    </tr>									
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
