<section id="dashboard1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-12">
                <h4 class="mbl-tit1">Volunteer Registration</h4>
                <div class="vluntr-frm">
                    <form [formGroup]="volunteerForm" (ngSubmit)="OnSaveVolunteer()">
                        <div class="form-group">
                            <label for="v-mbl">Mobile Number</label>
                            <input type="text" class="form-control" id="v-mbl" formControlName="mobileNo">
                        </div>
                        <div class="form-group">
                            <label for="v-name">Name</label>
                            <input type="text" class="form-control" id="v-name" formControlName="name">
                        </div>
                        <div class="form-group">
                            <label for="v-loc">Location</label>
                            <input type="text" class="form-control" id="v-loc" placeholder="Ex : Velachery, Chennai" formControlName="address">
                        </div>
                        <div class="form-group">
                            <label for="v-aathar">Aadhar Number</label>
                            <input type="text" class="form-control" id="v-aathar" formControlName="aadhaar">
                        </div>
                        <button type="submit" class="btn btn-default center-block smt-btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>