<div class="tab-content">
    <div class="tab-panel">
        <div class="row">
            <div class="col-md-3 ft-rt">
                <div class="search">
                    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                        <div class="form-group">
                            <input type="text" class="form-control" id="search-valunteer" placeholder="Search" formControlName="query">
                            <button type="submit" class="srh-btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered info-tbl">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Mobile</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Karthikeyan</td>
                                <td>Velacerry, Chennai</td>
                                <td align="center"><a href="tel:+919600859243">+91 96008 59243</a></td>
                            </tr>
                            <tr>
                                <td>Ram</td>
                                <td>Tiruvanmiyur, Chennai</td>
                                <td align="center"><a href="tel:+919600859243">+91 96008 59243</a></td>
                            </tr>
                            <tr>
                                <td>Parameswari</td>
                                <td>Velacherry, Chennai</td>
                                <td align="center"><a href="tel:+919600859243">+91 96008 59243</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>