/* You can add global styles to this file, and also import other style files */
$primary: #607d8b;
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  color: #1b1b1b;
  text-rendering: optimizeLegibility;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

// common styles
.container {
  width: 95%;
  margin: auto;
}
.margins {
  padding: 10px;
  margin-top: 15px;
}
.divider {
  width: 60%;
  height: 3px;
  background: #607d8b;
  margin: 5px 0px;
}
.form-container {
  padding: 20px;
}
